<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <!-- FOOTER  -->
    <div class="Container100">
        <div class="ContainerIndent">
            <div class="Card ShadowEffect">
                <div class="Container100" style="" id="footerlinks">
                   <span class="FontSourceSansLight BoldGray Fs14 HoverEffect" style="color:#aaaaaa!important">Sistema de Gestão Financeira Pessoal</span> 
                   <span class="DispInlBlock FontSourceSansLight BoldGray Fs12 Fright HoverEffect TexAlRight FloatNoneOnMobile" style="padding-top:5px; color:#aaaaaa!important"><strong>Informações</strong> <br/> +55 (65) 99620-5350 <br/>  luca.ds.lima@gmail.com </span>
                </div>   
            </div>
        </div>
    </div>

</ui:composition>
