<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pr="http://primefaces.org/rio">

    	<h:form>
    <div class="Animated05" id="layout-menu-cover">
	        <ul class="layout-menu">
	            <li>
	                <a class="menulink ripplelink">
	                    <i class="icon-round58 Fs40"></i>
	                    <span class="Fs18">#{usuarioLogado.nome}<br/><span class="Fs12 FontRobotoLight">#{usuarioLogado.email}</span></span>
	                </a> 
	            </li>
	        </ul>
        <div class="Separator"></div>
        
        <pr:menu>
            <p:menuitem id="rm_home" value="Home" icon="icon-home" outcome="/home"/>
            <p:menuitem id="rm_dashboard" value="Dashboard" icon="icon-clipboard99" outcome="/dashboard/dashboard"/>
            <p:submenu id="rm_categoria" label="Categoria" icon="icon-grid-alt" >
            	<p:menuitem id="rm_categoria_pesquisa" value="Pesquisa de Categoria" icon="icon-search" outcome="/categoria/pesquisaCategoria"/>
            	<p:menuitem id="rm_categoria_cadastro" value="Cadastro Simples" icon="icon-grid-alt" outcome="/categoria/cadastroCategoria"/>
            	<p:menuitem id="rm_categoria_cadastro_tree" value="Cadastro em Árvoce" icon="icon-grid-alt" outcome="/categoria/cadastroCategoriaTree"/>
            </p:submenu>
            <p:menuitem id="rm_transacao" value="Transação" icon="icon-work3" outcome="/transacao/pesquisaTransacao"/> 
            <p:separator />  
        </pr:menu>

    </div>

        </h:form>
</ui:composition>