<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Financeiro</title>
	
	<h:outputScript name="js/ripple-effect.js" library="rio-layout" />
    <h:outputScript name="js/perfect-scrollbar.js" library="rio-layout" />
    <h:outputScript name="js/layout.js" library="rio-layout" />
	<h:outputScript name="js/primefaces.js" library="rio-layout" />
	<h:outputScript name="js/jquery.maskMoney.js" library="rio-layout" />

	<ui:insert name="head" />
</h:head>

<h:body>

	<ui:include src="topbar.xhtml" />

	<div id="wrapper">
		<div id="wrapperIndent">   

			<div class="ShowOnMobile">
				<ui:include src="layoutmenu.xhtml" />
			</div>
			
			<div id="layout-portlets-cover">  
						 
				<p:growl 
				    id="msg" 
				    sticky="false"
				    autoUpdate="true" 
				    rendered="#{not facesContext.validationFailed}"/>

				<div class="EmptyBox10" />
				
				<ui:insert name="content">
                     Template
                </ui:insert>

				<ui:include src="footer.xhtml" />
			</div>

			<p:ajaxStatus
				style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
				<f:facet name="start">
					<p:graphicImage name="images/preloader.gif" library="rio-layout" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="" />
				</f:facet>
			</p:ajaxStatus>
		</div>
	</div>

    <h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
    <h:outputStylesheet name="css/animate.css" library="rio-layout" />
    <h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
    <h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
    <h:outputStylesheet name="css/perfect-scrollbar.css" library="rio-layout" />
    <h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
    <h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
	<h:outputStylesheet name="css/mycss.css" library="rio-layout" />
	
</h:body>

</html>