<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	 <style>
            #menu-button{height:25px; width:25px; float:right; display:block; text-align:center; cursor:pointer; margin-left:20px;}
            #menu-button i{color:#fff; font-size:20px; margin:6px auto 0px auto; vertical-align:middle;}
            #menu-button:hover i, #menu-button:active i, #menu-button:focus i{color:rgba(255,255,255,0.7);}
            #menubody{width:280px; height:auto; background-color:#fff; position:inherit; overflow:hidden; border-radius:5px; margin-top:30px; display:none;
                      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
                      -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
                      -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);}
            #menubody.active{display:block;}
            #menubody li{display:block; padding:0px;}
            #menubody li a{display:block; padding:15px 20px; color:#567a84; font-size:16px;}
            #menubody li a:hover, #menubody li a:active, #menubody li a:focus{background-color:#f2f2f2;}
    </style>
    
    

	<div id="layout-topbar">

		<h:form>

			<div class="Fleft">
				<a id="mobile-menu-button" class="Fright ShowOnMobile ripplelink Unselectable ShadowEffect" style="margin-left: 10px;">
					<i	class="icon-show5"></i>  
				</a>

				<div class="ShowOnDesktop">
					<p:menubar style="margin-top: 9px;margin-left:10px">
						<p:menuitem value="Home" outcome="/home" icon="fa fa-home" />
						<p:menuitem value="Dashboard" outcome="/dashboard/dashboard" icon="fa fa-calendar-o" />
 						<p:menuitem value="Categorias" outcome="/categoria/pesquisaCategoria" icon="fa fa-navicon" />
 						<p:menuitem value="Transações" outcome="/transacao/pesquisaTransacao" icon="fa fa-credit-card" />
					</p:menubar>
				</div>

			</div> 
			
			<p:remoteCommand name="home" action="/home" process="@this"/>
			
			<!--  <a id="menu-button"><i class="fa fa-bars"></i></a>
             <ul class="" style="padding:0px;" id="menubody">
                 <li class=""><a href="#rio-contact" class="">Configurações</a></li>
                 <li class=""><a href="#rio-contact" class="">Sair</a></li>
             </ul>  -->
             
             <a class="ripplelink WhiteBlue Fright" id="show-top-menu">
				<h:graphicImage name="images/avatar1.svg" library="rio-layout" rendered="#{seguranca.usuarioLogado.usuarioFacebook.pictureUrl == null}" />
				<h:graphicImage url="#{seguranca.usuarioLogado.usuarioFacebook.pictureUrl}" rendered="#{seguranca.usuarioLogado.usuarioFacebook.pictureUrl != null}"/>
			</a>
			
			<div class="Fright profileInfo FontRobotoRegular ">
				<div>#{usuarioLogado.nome}</div>
			</div> 

			<ul id="top-menu" class="ShowOnDesktop">
				<li>
					<a href="#" class="ripplelink"><i class="icon-settings49"></i> <span class="Txt">Configurações</span></a>
				</li>
				<li>
					<a href="#" onclick="rc()" class="ripplelink"><i class="icon-exit13"></i> <span class="Txt">Sair</span></a>
				</li>
			</ul>

			<p:remoteCommand name="rc" action="#{loginBean.deslogar()}"	process="@this" update="@all" />

		</h:form>
	</div>
	
	<script>
            // FNC for detecting for click outside of any elements ============== 
            $.fn.clickOff = function (callback, selfDestroy) {
                var clicked = false;
                var parent = this;
                var destroy = selfDestroy || true;

                parent.click(function () {
                    clicked = true;
                });

                $(document).click(function (event) {
                    if (!clicked) {
                        callback(parent, event);
                    }
                    if (destroy) {
                    }
                    ;
                    clicked = false;
                });
            };

            var menubtn = $(document.getElementById("menu-button")),
                    menubody = $(document.getElementById("menubody")),
                    menustatus = true,
                    menuButtonClick = false;

            menubtn.on("click", function () {
                menuButtonClick = true;

                if (menustatus) {
                    menubody.addClass('active');
                    menustatus = false;
                } else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });

            menubody.clickOff(function (e) {
                if (menuButtonClick) {
                    menuButtonClick = false;
                }
                else {
                    menubody.removeClass('active');
                    menustatus = true;
                }
            });
    </script>  

</ui:composition>
