<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tce="http://java.sun.com/jsf/composite/tce"
	template="/WEB-INF/template/template.xhtml"> 

	<ui:define name="titulo">
		
	</ui:define>
	
	<ui:define name="content">
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect"> 
				<h3>Categoria</h3>
				<div class="SeparatorFull"></div>   
							
		<h:form id="frmCadastro" prependId="false">
		
			<div class="EmptyBox5" />
			
			<h:panelGroup id="panel" layout="block" styleClass="ui-fluid">
				
				<p:contextMenu for="panel" >
					<p:menuitem value="Novo" icon="fa fa-plus" oncomplete="PF('dlgCategoria').show();" update="documentPanel" process="@this" partialSubmit="true"
					actionListener="#{cadastroCategoriaTreeBean.novoCategoria()}"/>  
			        
			        <p:menuitem value="Visualizar" icon="fa fa-search"
			        action="#{cadastroCategoriaTreeBean.visualizar()}" update="documentPanel" process="@this tree" partialSubmit="true"/> 
			       
			        <p:menuitem value="Excluir"  icon="fa fa-trash-o" 
			        action="#{cadastroCategoriaTreeBean.excluir()}" update="tree" process="@this tree" partialSubmit="true"/>
			    </p:contextMenu>
				
				<h:outputLabel value="Click com o botão direito do mouse" styleClass="Red Fs12 FontRobotoRegular HoverEffect "  />
				<p:treeTable id="tree" widgetVar="treeVar" value="#{cadastroCategoriaTreeBean.root}" 
							 var="doc" selectionMode="single" 
							 selection="#{cadastroCategoriaTreeBean.selectedNode}" 
							 dynamic="true" 
							 emptyMessage="Nenhuma categoria cadastrada">
					
					<p:column styleClass="Wid40" headerText="Categorias"> 
            			<h:outputText value="#{doc.object.nome}" />
        			</p:column>
        			
        			<p:column styleClass="Wid60" headerText="Descrição"> 
            			<h:outputText value="#{doc.object.descricao}" />
        			</p:column>
					
				</p:treeTable> 

			</h:panelGroup>
			
			<div class="EmptyBox10" /> 
				
				<div class="Fleft"> 
					<p:commandButton value="Novo" icon="fa fa-plus" 
									 title="Nova Categoria" oncomplete="PF('dlgCategoria').show();" 
									 update="documentPanel" process="@this" partialSubmit="true"
									 actionListener="#{cadastroCategoriaTreeBean.novoCategoria()}"/>
					
					<p:commandButton value="Editar" icon="fa fa-pencil" 
									 title="Editar Categoria" action="#{cadastroCategoriaTreeBean.visualizar()}" 
									 update="documentPanel" process="@this tree" partialSubmit="true"/>
									 
					<p:commandButton value="Excluir"  
									 title="Excluir Categoria" icon="fa fa-trash-o" 
									 action="#{cadastroCategoriaTreeBean.excluir()}" 
									 update="tree" process="@this tree" partialSubmit="true"/>
									 
					<p:button value="Voltar" outcome="/categoria/pesquisaCategoria" styleClass="RedButton" icon="fa fa-reply"
									 title="Voltar para pesquisa"/>
				</div>
			
			<ui:include src="/categoria/cadastroCategoriaDialog.xhtml" />
				
			<p:confirmDialog id="iconfirmDlg" header="Confirmação" severity="alert"	showEffect="fade" hideEffect="fade" widgetVar="removeConfirm">
				<f:facet name="message">
					<h:outputText value="Tem certeza que deseja remover o status?" />
				</f:facet>
				<p:commandButton value="Sim" process="@this" action="#{cadastroCategoriaTreeBean.excluir()}" update="@this tree" oncomplete="PF('removeConfirm').hide();" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"	styleClass="ui-confirmdialog-no" icon="ui-icon-close"	onclick="PF('removeConfirm').hide();" />
			</p:confirmDialog>

			<div class="EmptyBox20" />
		
		</h:form>
		</div>
		</div>
		</div>
	</ui:define>
</ui:composition>