<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">

		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<h3>Nova Categoria</h3>
					<div class="SeparatorFull"></div>

					<h:form id="frmCategoria" prependId="false">

						<h:panelGroup layout="block"
							styleClass="ui-messages-fatal ui-corner-all ui-messages-fatal-summary"
							rendered="#{facesContext.validationFailed}">Campos Obrigatórios</h:panelGroup>

						<div class="ui-fluid Wid100">
							<p:panelGrid columns="1"
								styleClass="ui-panelgrid-blank Wid50 Fleft" layout="grid">

								<p:outputLabel value="Nome" for="nome" />
								<p:inputText id="nome"
									value="#{cadastroCategoria.categoria.nome}" required="true"
									label="Nome" />

							</p:panelGrid>

							<p:panelGrid columns="1"
								styleClass="ui-panelgrid-blank Wid50 Fright" layout="grid">

								<p:outputLabel value="Categoria Superior" for="categoria" />
								<p:selectOneMenu id="categoria"
									value="#{cadastroCategoria.categoria.categoriaPai}"
									converter="#{abstractConverter}" filter="true">
									<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
									<f:selectItems value="#{cadastroCategoria.categorias}"
										var="_cat" itemLabel="#{_cat.nome}" itemValue="#{_cat}" />
								</p:selectOneMenu>

							</p:panelGrid>
						</div>

						<div class="ui-fluid">
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank"
								layout="grid">

								<p:outputLabel value="Descrição" for="descrição" />
								<p:inputTextarea id="descrição"
									value="#{cadastroCategoria.categoria.descricao}" rows="3"
									required="true" />

							</p:panelGrid>
						</div>

					</h:form>

					<div class="EmptyBox10" />

					<p:fieldset legend="Palavras Chaves" toggleable="true" toggleSpeed="500" collapsed="#{empty cadastroCategoria.categoria.palavrasChaves}"> 
						<h:form id="frmKey" prependId="false"> 

							<div class="EmptyBox10" />

							<p:panelGrid styleClass="ui-panelgrid-blank Wid100">

								<p:row>
									<p:column>
										<p:outputLabel value="Palavra Chave" for="key" />
									</p:column>
								</p:row>

								<p:row>
									<p:column>
										<p:inputText id="key" required="true" styleClass="Wid80"
											placeholder="Insira a palavra chave da categoria"
											value="#{cadastroCategoria.palavraChave.chave}"
											style="margin-right: 1%;" />
										<p:commandButton value="Adicionar Palavra Chave"
											icon="fa fa-plus"
											action="#{cadastroCategoria.adicionarPalavraChave()}"
											styleClass="CyanButton" process="@this frmKey"
											update="frmKey frmCategoria" partialSubmit="true" />
									</p:column>
								</p:row>

							</p:panelGrid>

							<div class="EmptyBox10" />

							<p:dataTable
								value="#{cadastroCategoria.categoria.palavrasChaves}"
								rendered="#{not empty cadastroCategoria.categoria.palavrasChaves}"
								var="_key" emptyMessage="Nenhuma chave cadastrada...">

								<p:column headerText="Palavra Chave">
									<h:outputLabel value="#{_key.chave}" />
								</p:column>

							</p:dataTable>

						</h:form>
					</p:fieldset>

					<div class="EmptyBox10" />

					<h:form id="frmGeral">
						<div class="ui-g">
							<div class="ui-g-12">
								<p:commandButton value="Salvar" icon="fa fa-floppy-o"
									title="Salvar" action="#{cadastroCategoria.salvar}"
									process="@this :frmCategoria"
									update=":frmCategoria :frmGeral :frmKey" partialSubmit="true" />

								<p:button styleClass="RedButton" icon="fa fa-reply"
									value="Voltar" title="Voltar para pesquisa" process="@this"
									outcome="/categoria/pesquisaCategoria" />
							</div>
						</div>
					</h:form>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>