<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:dialog header="Cadastro de Categoria" widgetVar="dlgCategoria" responsive="true" closable="true" draggable="false" modal="true" style="min-width: 70%;min-height: 50%;">
   		
   	<p:outputPanel id="documentPanel">	
   	
   		<div class="EmptyBox20"/> 

		<div class="ui-fluid">
			<p:panelGrid columns="3"
				columnClasses="ui-grid-col-2,ui-grid-col-9,ui-grid-col-1"
				layout="grid" styleClass="ui-panelgrid-blank"
				style="padding:2px; border:0px none;">

				<p:outputLabel value="Nome" for="nome" />
				<p:inputText id="nome" value="#{cadastroCategoriaTreeBean.categoriaSelecionado.nome}"
					required="true" />
				<p:message for="nome" display="icon" />

				<p:outputLabel value="Descrição" for="descrição" />
				<p:inputTextarea id="descrição"
					value="#{cadastroCategoriaTreeBean.categoriaSelecionado.descricao}" rows="10" />
				<p:message for="descrição" display="icon" />

			</p:panelGrid>
		</div>

		<div class="EmptyBox20" />
		
		<div class="ui-g">
			<div class="ui-g-12">  
				<p:commandButton value="Salvar" icon="fa fa-floppy-o" title="Salvar" action="#{cadastroCategoriaTreeBean.salvar()}" update="@all" oncomplete="unSelectNodes(PF('treeVar'))"/>
				<p:button icon="fa fa-close" value="Fechar" title="Cancelar" styleClass="RedButton" onclick="PF('dlgCategoria').hide(); return false;"/>
			</div> 
		</div>
	</p:outputPanel>
</p:dialog>

</ui:composition>