<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tce="http://java.sun.com/jsf/composite/tce"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
				<h2 style="padding-bottom: 10px;font-size: 22px;">Pesquisa de Categorias</h2>
				<div class="SeparatorFull"></div>   

			<h:form id="frmPesquisa" prependId="false" > 	
				
				<div class="ui-g">
				   <div class="ui-g-6 ui-g-nopad">
				    	<p:commandButton value="Consultar" icon="fa fa-search"/>
				    </div>
				     <div class="ui-g-6 ui-g-nopad">
					    <p:commandButton value="Novo" styleClass="Fright" icon="fa fa-plus"/>
				    </div>  
				</div>
				
				<div class="EmptyBox10" /> 
				
				<p:accordionPanel activeIndex="#{null}">
        			<p:tab title="Filtro de Pesquisa">
        				<div class="EmptyBox10" /> 
        				
        				<div class="ui-g ui-fluid">
						    <div class="ui-g-12 ui-md-4 ui-lg-7" style="padding:5px 5px 5px 0px">
						    	<p:inputText placeholder="Pesquisa em todos os campos"/>
						    </div>
						    <div class="ui-g-12 ui-md-4 ui-lg-5" style="padding:5px 5px 5px 0px"> 
						    	 <p:selectOneMenu id="icategoria" filter="true" filterMatchMode="startsWith" height="300" converter="#{abstractConverter}">
							     	<f:selectItem itemLabel="Selecione uma categoria superior" itemValue="" />
							     	<f:selectItems value="#{pesquisaTransacao.categoriasVo}" var="_cate" itemLabel="#{_cate.nome}" itemValue="#{_cate}"/>
							     </p:selectOneMenu>
						    </div> 
						</div>
						<div class="EmptyBox10" /> 
        			</p:tab>
        		</p:accordionPanel>
			
			<div class="EmptyBox5" /> 

			<p:dataTable id="table"
						 styleClass="tableGlobalFilter"	 
						 rows="10"						 
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						 currentPageReportTemplate=" Página {currentPage} de {totalPages}"
						 paginatorPosition="bottom" 
						 rowsPerPageTemplate="5,10,15"
						 widgetVar="categoriaTable"
						 filteredValue="#{pesquisaCategoria.lazyDataModel}"
						 emptyMessage="Nenhum status encontrado."
					 	 value="#{pesquisaCategoria.lazyDataModel}"
					 	 lazy="true" 
					 	 var="_at">

				<p:column headerText="Nome" filterBy="#{_at.nome}" sortable="true" sortBy="#{_at.nome}" sortFunction="single" styleClass="Wid25 Fs16"
 					filterMatchMode="contains" filterable="false">
					<p:outputLabel value="#{_at.nome}" styleClass="Fs14" />
				</p:column>
				
				<p:column headerText="Descrição" filterBy="#{_at.descricao}" sortable="true" sortBy="#{_at.descricao}" sortFunction="single" styleClass="Wid65 Fs16"
 					filterMatchMode="contains" filterable="false">  
					<p:outputLabel value="#{_at.descricao}" styleClass="Fs14" />
				</p:column>
				
				<p:column styleClass="TexAlCenter Wid8">    
                                    	
		            <p:tooltip id="toolTipFade1" for="ibtnEditar" value="Editar" position="top"/>
		            <p:commandLink style="padding:5px" id="ibtnEditar" update="@all" process="@this" action="#{pesquisaCategoria.editar()}">  
						<i class="fa fa-pencil-square-o Fs16"></i>  
						<f:setPropertyActionListener value="#{_at}" target="#{pesquisaCategoria.objSelected}" />
		            </p:commandLink> 
	                                   	
	                <p:tooltip id="toolTipFade2" for="ibtnExcluir" value="Excluir" position="top"/>
	                <p:commandLink style="padding:5px" id="ibtnExcluir" action="#{pesquisaCategoria.canRemove()}" process="@this" update="@form">
						<i class="fa fa-trash-o Fs16"></i>     
						<f:setPropertyActionListener value="#{_at}" target="#{pesquisaCategoria.objSelected}" />
	                </p:commandLink> 
				    
                </p:column> 

			</p:dataTable>

		</h:form>
		
		<tce:confirmDialog objToRemove="categoria" nome="#{pesquisaCategoria.objSelected.nome}" bean="#{pesquisaCategoria}"/>
		</div>
		</div>
		</div>
	</ui:define>

</ui:composition>