<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tce="http://java.sun.com/jsf/composite/tce"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">

		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
				
					<div class="ui-g">
					    <div class="ui-g-6 ui-g-nopad" style="margin-top:5px;">
					    	<h3>Pesquisa de Categorias</h3> 
					    </div>
					     <div class="ui-g-6 ui-g-nopad">
						    <p:button value="Novo" styleClass="Fright BluerButton" icon="fa fa-plus" outcome="/categoria/cadastroCategoria"/>
						    <p:button value="Árvore" styleClass="Fright BluerButton" icon="fa fa-navicon" outcome="/categoria/cadastroCategoriaTree"/>
					    </div>  
					</div>

					<div class="SeparatorFull"></div> 

					<h:form id="frmPesquisa" prependId="false">

						<p:dataTable id="table"
							 styleClass="tableGlobalFilter"	 
							 rows="10"						 
							 paginator="true"
							 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							 currentPageReportTemplate=" Página {currentPage} de {totalPages}"
							 paginatorPosition="bottom" 
							 rowsPerPageTemplate="5,10,15,20"
							 widgetVar="categoriaTable"
							 filteredValue="#{pesquisaCategoria.lazyDataModel}"
							 emptyMessage="Nenhuma categoria encontrada."
						 	 value="#{pesquisaCategoria.lazyDataModel}"
						 	 liveResize="true"
						 	 reflow="true" 
						 	 lazy="true" 
						 	 resizeMode="expand"
						 	 var="_at">  
						 	 
						 	<f:facet name="header">
					            <p:outputPanel>   
					            	<div class="ui-g ui-fluid">
										<div class="ui-g-12 ui-md-12 ui-lg-2" style="margin-top: 5px;"> 
						                	<h:outputText value="Consultar em todos os campos: "/>  
										</div>
										<div class="ui-g-12 ui-md-12 ui-lg-6">
						                	<p:inputText id="globalFilter" onkeyup="PF('categoriaTable').filter()" placeholder="Entre com o texto"/>
						                </div>     
					                </div>   
					            </p:outputPanel>  
					        </f:facet>

							<p:column headerText="Nome" styleClass="Wid30">
								<p:outputLabel value="#{_at.nome}" />
							</p:column>

							<p:column headerText="Descrição" styleClass="Wid70">
								<p:outputLabel value="#{_at.descricao}"/>
							</p:column>
							
							<p:column headerText="Categoria Superior" styleClass="Wid10">
								<p:outputLabel value="#{_at.categoriaPai.nome}"/>
							</p:column>
							
							<p:column styleClass="TexAlCenter Wid10" headerText="Ações">    
                                    	
					            <p:tooltip id="toolTipFade1" for="ibtnEditar" value="Editar" position="top"/>
					            <p:commandLink style="padding:5px" id="ibtnEditar" update="@all" process="@this" action="#{pesquisaCategoria.editar()}">  
									<i class="fa fa-pencil-square-o Fs16"></i>  
									<f:setPropertyActionListener value="#{_at}" target="#{pesquisaCategoria.objSelected}" />
					            </p:commandLink> 
				                                   	
				                <p:tooltip id="toolTipFade2" for="ibtnExcluir" value="Excluir" position="top"/>
				                <p:commandLink style="padding:5px" id="ibtnExcluir" process="@this" update="@form" action="#{pesquisaCategoria.excluir()}">
									<i class="fa fa-trash-o Fs18 Red"></i>     
									<f:setPropertyActionListener value="#{_at}" target="#{pesquisaCategoria.objSelected}" />
				                </p:commandLink> 
							    
			                </p:column> 
							
						</p:dataTable> 
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>