<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml"> 

	<ui:define name="content">
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
				<h3>Nova Transação</h3>
				<div class="SeparatorFull"></div>   
							
				<h:form id="frmPesquisa" prependId="false"> 
						
					<p:messages id="msglocal" autoUpdate="true" closable="true" escape="2"/> 
		                		
		            <div class="ui-fluid">	
			        	<div class="ui-g-12 ui-md-9 ui-lg-8">
				        	<p:outputLabel value="Descrição" for="descrição"/>       
				        	<p:inputText id="descrição" value="#{cadastroTransacao.transacao.descricao}"/>
			        	</div>
		              		
	              		<div class="ui-g-12 ui-md-3 ui-lg-4">
		              		<p:outputLabel value="Tipo" for="tipo"/>       
				        	<p:selectOneButton id="tipo" value="#{cadastroTransacao.transacao.tipo}">
				        		<f:selectItems value="#{enunsComplete.tipoTransacao()}" var="_tipo" itemLabel="#{_tipo.descricao}" itemValue="#{_tipo}"/>
				        	</p:selectOneButton>
			        	</div>
			        	
			        	
			        	<div class="ui-g-12 ui-md-6 ui-lg-3">
				        	<p:outputLabel value="Categoria"/>
		            		<p:selectOneMenu id="categoria" value="#{cadastroTransacao.transacao.categoriaPai}" filter="true" filterMatchMode="startsWith" converter="#{abstractConverter}">
				            	<f:selectItem itemLabel="Selecione" itemValue="#{null}" /> 
				            	<f:selectItems value="#{cadastroTransacao.categoriasPai}" var="_pai" itemLabel="#{_pai.nome}" itemValue="#{_pai}"/>
				        		<p:ajax event="change" process="@this" update="subcategoria" partialSubmit="true" listener="#{cadastroTransacao.onChangeCategoriaPai()}"/>
				        	</p:selectOneMenu> 
			        	</div>
		              			
				        <div class="ui-g-12 ui-md-6 ui-lg-3">
				        	<p:outputLabel value="Sub Categoria"/>
		            		<p:selectOneMenu id="subcategoria" value="#{cadastroTransacao.transacao.categoria}" filter="true" filterMatchMode="startsWith" converter="#{abstractConverter}">
				            	<f:selectItem itemLabel="Select One" itemValue="" /> 
				            	<f:selectItems value="#{cadastroTransacao.subCategorias}" var="_sub" itemLabel="#{_sub.nome}" itemValue="#{_sub}"/>
				        	</p:selectOneMenu>
				        </div>	
				        	
						<div class="ui-g-12 ui-md-6 ui-lg-3">
						 	<p:outputLabel value="Data" for="data">
		            			<p:calendar id="data" value="#{cadastroTransacao.transacao.dataTransacao}" pattern="dd-MM-yyyy" mask="true"/> 	
						 	</p:outputLabel>       
						</div>
						
						<div class="ui-g-12 ui-md-6 ui-lg-3">
		            		<p:outputLabel value="Valor">
			            		<p:inputText id="currency" value="#{cadastroTransacao.transacao.valor}"/>
		            		</p:outputLabel>
						</div> 	
		            	
		            	<div class="EmptyBox10"/>
		           			
		            </div> 
		            
			        <div class="EmptyBox20"/>  
			               		
					<div class="ui-g">
						<div class="ui-g-12">  
							<p:commandButton value="Salvar" icon="fa fa-floppy-o" title="Salvar" action="#{cadastroTransacao.salvar()}" update="@form msglocal"/>
							<p:button styleClass="RedButton" icon="fa fa-reply" value="Voltar" title="Voltar para pesquisa" process="@this" outcome="/transacao/pesquisaTransacao"/>
						</div> 
					</div>
							
				</h:form>
				</div> 
			</div>
		</div>  
		
		<script>
		  $(function() {
		    $('#currency').maskMoney();
		  })
		</script>
		
	</ui:define>
</ui:composition>