<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">

		<h:form id="frmCadastroLote" enctype="multipart/form-data" acceptcharset="ISO-8859-1" prependId="false" >
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<h3>Transação em Lote</h3>
					<div class="SeparatorFull"></div> 
						
					<div class="EmptyBox10"/>
					
					<div class="Container100">
						<div class="Container50">
							<p:fileUpload fileUploadListener="#{cadastroTransacaoEmLoteBean.handleFileUpload}" mode="advanced" dragDropSupport="false" uploadLabel="Carregar documento(s)"
                  				  label="Adicionar Documento(s)" invalidFileMessage="Formato do arquivo inválido, informe um arquivo com extensão .csv" allowTypes="/(\.|\/)(ofx)$/" cancelLabel="Cancelar" multiple="false" update="@form" fileLimit="1" process="@this"/>     
						</div>  
						<div class="Container50 TexAlRight" style="margin-top: 5px;">    
							<p:commandButton value="Limpar Tudo" styleClass="OrangeButton"/> 
						</div> 
					</div> 
					
					<div class="EmptyBox10"/> 
				</div>
			</div>
		</div>
		
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
						<h2 class="CardTopic">
							<i class="icon-tack Fs18 Fleft MarRight10"></i> LISTA DE TRANSAÇÕES
								<p:commandButton id="imenutransaction" type="button" icon="fa fa-ellipsis-v Gray Fs20" styleClass="Fright GrayButton TransactionButton" style="margin-top:-10px !important;" />
								<p:menu overlay="true" trigger="imenutransaction" my="left top"	at="left bottom">
									<p:menuitem value="Nova transação +" icon="ui-icon-disk fa fa-square-o" outcome="/transacao/cadastroTransacao" />
									<p:menuitem value="Excluir selecionado(s)" icon="ui-icon-disk fa fa-close" disabled="#{empty cadastroTransacaoEmLoteBean.transacoesEmLote}" action="#{cadastroTransacaoEmLoteBean.removeTodosSelecionados()}" update="iteste ipanelfooter" process="@this" partialSubmit="true"/>
								</p:menu>
						</h2>
						
						<div class="SeparatorFull"></div> 
						
						<p:sticky target="ipanelheader" margin="68" /> 
										
						<p:panelGrid id="ipanelheader" columns="8" columnClasses="Wid2,Wid33,Wid10,Wid15,Wid18,Wid8,Wid6"  layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;padding-left: 10px;background-color: white;">
							<p:selectBooleanCheckbox value="#{cadastroTransacaoEmLoteBean.selecionaTodos}" title="Selecionar todos">
								<p:ajax event="change" update="iteste" process="@this" partialSubmit="true" listener="#{cadastroTransacaoEmLoteBean.selecionarTodos()}"/>
							</p:selectBooleanCheckbox>
							<h:outputText value="Descrição" styleClass="Fs14 Whitee FontBold" /> 
							<h:outputText value="Data" styleClass="Fs14 Whitee FontBold" /> 
							<h:outputText value="Categoria" styleClass="Fs14 Whitee FontBold" />
							<h:outputText value="Sub Categoria" styleClass="Fs14 Whitee FontBold" />
							<h:outputText value="Valor" styleClass="Fs14 Whitee FontBold"/> 
							<h:outputText value="" styleClass="Fs14 Whitee FontBold"/> 
						</p:panelGrid> 
						
										
						<div class="SeparatorFull"></div>     
									
						<p:dataGrid emptyMessage="Nehum arquivo adicionado" id="iteste" rowIndexVar="_row" var="_transacao" value="#{cadastroTransacaoEmLoteBean.transacoesEmLote}" layout="grid" columns="1" style="border: 0px !important;" >

							<p:panelGrid id="ipanelgridtransacoes" columns="8" columnClasses="Wid2,Wid33,Wid10,Wid15,Wid18,Wid8,Wid6"  layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;">

								<p:selectBooleanCheckbox value="#{_transacao.selecionado}">
									<p:ajax event="change" update="iteste" process="@this" partialSubmit="true" immediate="true" />  
								</p:selectBooleanCheckbox>    
								
								<p:inputText value="#{_transacao.descricao}" styleClass="Wid90" rendered="#{_transacao.editando}"/> 
								<p:outputLabel value="#{_transacao.descricao}" styleClass="Wid90 Fs14" rendered="#{!_transacao.editando}"/> 
								
								<p:calendar pattern="dd/MM/yyyy" value="#{_transacao.dataTransacao}" size="10" rendered="#{_transacao.editando}"/>
								<p:outputLabel value="#{_transacao.dataTransacaoFormatada}" styleClass="Wid90 Fs14" rendered="#{!_transacao.editando}"/> 
								
								<p:selectOneMenu value="#{_transacao.categoriaPai}" required="true" converter="#{abstractConverter}" height="190" rendered="#{_transacao.editando}" >
									<f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
									<f:selectItems value="#{cadastroTransacaoEmLoteBean.categoriasPai}" var="_pai" itemLabel="#{_pai.nome}" itemValue="#{_pai}"/>
									<p:ajax event="change" update="iteste:#{_row}:ionemenusub" process="@this" partialSubmit="true" listener="#{cadastroTransacaoEmLoteBean.onChangeCategoriaPai(_transacao)}"/>
								</p:selectOneMenu>
								<p:outputLabel value="#{_transacao.categoria.categoriaPai.nome}" styleClass="Wid90 Fs14" rendered="#{!_transacao.editando}"/>
								
								<p:selectOneMenu id="ionemenusub" required="true" value="#{_transacao.categoria}" converter="#{abstractConverter}" height="190" rendered="#{_transacao.editando}" >
									<f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
									<f:selectItems value="#{_transacao.subCategorias}" var="_sub" itemLabel="#{_sub.nome}" itemValue="#{_sub}"/>
								</p:selectOneMenu>
								<p:outputLabel value="#{_transacao.categoria.nome}" styleClass="Wid90 Fs14" rendered="#{!_transacao.editando}"/>
								
								<p:inputNumber value="#{_transacao.valor}" rendered="#{_transacao.editando}" symbol=" R$ " decimalPlaces="2" size="11" emptyValue="0.00" decimalSeparator="," thousandSeparator=".">
						        	<f:converter converterId="javax.faces.BigDecimal" /> 
						        </p:inputNumber>
						        <p:outputLabel value="#{_transacao.valorFormatado}" styleClass="Wid90 Fs14" rendered="#{!_transacao.editando}"/>
						        
						        <h:panelGroup layout="block" style="margin-top: 10px;">
						        	
						        	<p:commandLink id="ibtnSalvar" rendered="#{_transacao.editando}" title="Salvar" update="iteste:#{_row}:ipanelgridtransacoes" process="@this iteste:#{_row}:ipanelgridtransacoes" action="#{cadastroTransacaoEmLoteBean.salvarPorLinha(_transacao)}">  
										<i class="fa fa-check Fs18"></i>  
		            				</p:commandLink>
						        
									<p:commandLink id="ibtnEditar" rendered="#{!_transacao.editando}" title="Editar" action="#{cadastroTransacaoEmLoteBean.editar(_transacao)}" update="iteste:#{_row}:ipanelgridtransacoes" process="@this iteste:#{_row}:ipanelgridtransacoes">  
										<i class="fa fa-pencil-square-o Fs18"></i>  
		            				</p:commandLink>
		            				
		            				<p:commandLink id="ibtnExcluir" update="iteste ipanelfooter" immediate="true" title="Excluir" style="padding-left: 10px;">
										<i class="fa fa-trash-o Fs18 Red"></i>  
										<p:collector unique="true" value="#{_transacao}" removeFrom="#{cadastroTransacaoEmLoteBean.transacoesEmLote}"/>
	                				</p:commandLink> 
                				</h:panelGroup>
                				
							</p:panelGrid>  

							<div class="SeparatorFull"></div> 
										
						</p:dataGrid>
						
						<p:panelGrid id="ipanelfooter" columns="8" columnClasses="Wid2,Wid33,Wid10,Wid15,Wid15 TexAlCenter,Wid10,Wid6"  layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;padding-left: 10px;">
							<h:outputLabel styleClass="Fs16 FontBold" /> 
							<h:outputLabel styleClass="Fs16 FontBold" /> 
							<h:outputLabel styleClass="Fs16 FontBold" /> 
							<h:outputLabel styleClass="Fs16 FontBold" />
							<h:outputText value="Total:" styleClass="Fs16 FontBold" />
							<h:outputText value="#{cadastroTransacaoEmLoteBean.calculaValorTotal()}" styleClass="Fs16 Orange FontBold"/> 
							<h:outputText value="" styleClass="Fs16 Whitee FontBold"/> 
						</p:panelGrid>
						
					</div>
				</div>
			</div>
		</h:form> 
		<script>
		  $(function() {
		    $('#currency').maskMoney();
		  })
		</script>
		
	</ui:define>
</ui:composition>