<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tce="http://java.sun.com/jsf/composite/tce"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
				
					<div class="ui-g">
					    <div class="ui-g-6 ui-g-nopad" style="margin-top:5px;">
					    	<h3>Pesquisa de Transações</h3> 
					    </div>
					     <div class="ui-g-6 ui-g-nopad"> 
					     	<div class="ui-g Fright">
					     		<p:button value="Nova transação" styleClass="BluerButton" icon="fa fa-plus" outcome="/transacao/cadastroTransacao"/>
								<p:button value="Nova transação em lote" styleClass="BluerButton" icon="fa fa-square-o" outcome="/transacao/cadastroTransacaoEmLote"/>
							</div>
					    </div>   
					</div>
					<div class="SeparatorFull"></div> 
					 
					<h:form id="frmPesquisa" prependId="false" >  	  
						
						<p:accordionPanel id="ifilterPanel" activeIndex="null" prependId="false">
	        				<p:tab title="Filtro de Pesquisa" id="ifilterTab">
	        					<div class="ui-g ui-fluid">
								    <div class="ui-g-12 ui-md-6 ui-lg-4">
								    	<p:outputLabel value="Descrição"/>
								    	<p:inputText value="#{pesquisaTransacao.filtroTransacao.descricao}"/>
								    </div>
								    <div class="ui-g-12 ui-md-6 ui-lg-2	">
								    	<p:outputLabel value="Tipo"/>
								    	<p:selectOneMenu value="#{pesquisaTransacao.filtroTransacao.tipoTransacao}">
								    		<f:selectItem itemLabel="Todos" itemValue="#{null}"/>
								    		<f:selectItems value="#{enunsComplete.tipoTransacao()}" var="_tipo" itemLabel="#{_tipo.descricao}" itemValue="#{_tipo}"/>
								    	</p:selectOneMenu>     
								    </div>	
								    <div class="ui-g-12 ui-md-6 ui-lg-3">
								    	<p:outputLabel value="Categoria"/>
								    	<p:selectOneMenu  value="#{pesquisaTransacao.filtroTransacao.categoria}" converter="#{abstractConverter}">
								    		<f:selectItem itemLabel="Todos" itemValue="#{null}"/>
								    		<f:selectItems value="#{pesquisaTransacao.categorias}" var="cate" itemLabel="#{cate.nome}" itemValue="#{cate}"/>
								    		<p:ajax event="change" update="isubcategoria" partialSubmit="true" process="@this" />
								    	</p:selectOneMenu>
								    </div> 
								    <div class="ui-g-12 ui-md-6 ui-lg-3	">
								    	<p:outputLabel value="Sub Categoria"/>
								    	<p:selectOneMenu id="isubcategoria" value="#{pesquisaTransacao.filtroTransacao.subCategoria}" converter="#{abstractConverter}">
								    		<f:selectItem itemLabel="Todos" itemValue="#{null}"/>
								    		<f:selectItems value="#{pesquisaTransacao.subCategorias}" var="cate" itemLabel="#{cate.nome}" itemValue="#{cate}"/>
								    	</p:selectOneMenu>
								    </div>			
								</div>
								<div class="ui-g ui-fluid">
								    <div class="ui-g-12 ui-md-4 ui-lg-3">
								    	<p:outputLabel value="Data Inicial"/>
								    	<p:calendar value="#{pesquisaTransacao.filtroTransacao.dataInicial}"/>
								    </div>
								    <div class="ui-g-12 ui-md-4 ui-lg-3	">
								    	<p:outputLabel value="Data Fim"/>
								    	<p:calendar value="#{pesquisaTransacao.filtroTransacao.dataFinal}"/>
								    </div>		
								    <div class="ui-g-12 ui-md-4 ui-lg-3">
								    	<p:outputLabel value="Valor Inicial" /> 
								    	<p:inputNumber decimalPlaces="2" value="#{pesquisaTransacao.filtroTransacao.valorInicial}"/>
								    </div>
								    <div class="ui-g-12 ui-md-4 ui-lg-3">
								    	<p:outputLabel value="Valor Fim"/>
								    	<p:inputNumber decimalPlaces="2" value="#{pesquisaTransacao.filtroTransacao.valorFinal}"/>
								    </div>					
								</div>
								<div class="ui-g ui-fluid">
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:commandButton value="Pesquisar" styleClass="CyanButton" style="width:auto" icon="fa fa-filter" 
										oncomplete="PF('transacaoTable').filter()" update="table" process="@this @form" partialSubmit="true" />  
										<p:commandButton value="Limpar" action="#{pesquisaTransacao.novoFiltro()}" styleClass="GrayButton" style="width:auto; margin-left:5px" icon="fa fa-recycle" update="@form" process="@this @form" resetValues="true" partialSubmit="true" />  
									</div>
								</div>   
	        				</p:tab> 
        				</p:accordionPanel> 
						 
						<div class="EmptyBox10" />     
					
						<p:dataTable id="table"
							 styleClass="tableGlobalFilter"	 
							 rows="15" 
							 paginator="true"
							 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							 currentPageReportTemplate=" Página {currentPage} de {totalPages}"
							 paginatorPosition="bottom" 
							 rowsPerPageTemplate="5,10,15,25,35,50,100"
							 widgetVar="transacaoTable"
							 emptyMessage="Nenhuma transação encontrada."
						 	 value="#{pesquisaTransacao.lazyDataModel}"
						 	 lazy="true" 
						 	 var="_at">
						 	 
						 	<p:ajax event="filter" listener="#{pesquisaTransacao.onFilterChange}"/>
	
							<p:column headerText="Descrição" styleClass="Wid40" sortable="true" sortBy="#{_at.descricao}" sortFunction="single">
								<p:outputLabel value="#{_at.descricao}" />
							</p:column>
							
							<p:column headerText="Data" styleClass="Wid10">
								<p:outputLabel value="#{_at.dataTransacaoFormatada}"/>
							</p:column>
							
							<p:column headerText="Tipo" styleClass="TexAlCenter Wid10">
								<p:outputLabel value="#{_at.tipo.descricao}"/>
							</p:column>
							
							<p:column headerText="Valor" styleClass="Wid10">
								<p:outputLabel value="R$ #{_at.valor}"/>
							</p:column>
							
							<p:column headerText="Categorias" styleClass="Wid20">
								<p:outputLabel value="#{_at.categoria.nome}"/>
							</p:column>
							
							<p:column styleClass="TexAlCenter Wid10" headerText="Ações">
			                                    	
					            <p:tooltip id="toolTipFade1" for="ibtnEditar" value="Editar" position="top"/>
					            <p:commandLink style="padding:5px" id="ibtnEditar" update="@all" process="@this" action="#{pesquisaTransacao.editar()}">  
									<i class="fa fa-pencil-square-o Fs18"></i>  
									<f:setPropertyActionListener value="#{_at}" target="#{pesquisaTransacao.objSelected}" />
					            </p:commandLink> 
				                                   	
				                <p:tooltip id="toolTipFade2" for="ibtnExcluir" value="Excluir" position="top"/>
				                <p:commandLink style="padding:5px" id="ibtnExcluir" action="#{pesquisaTransacao.excluir()}" process="@this" update="@form">
									<i class="fa fa-trash-o Fs18 Red"></i>     
									<f:setPropertyActionListener value="#{_at}" target="#{pesquisaTransacao.objSelected}" />
				                </p:commandLink> 
							    
			                </p:column> 
	
					</p:dataTable>  
		
				</h:form>
			</div>
		</div>
		</div>
	</ui:define>

</ui:composition>