<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tce="http://java.sun.com/jsf/composite/tce"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="content">
		
		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
				<h:form id="frmPesquisa" prependId="false" >  	 
				
					<h2 style="padding-bottom: 10px;font-size: 22px;">
						Pesquisa de Transações
						<p:commandButton id="todoMenu" type="button" icon="fa fa-ellipsis-v Gray Fs20" styleClass="Fright GrayButton" style="margin-top:-10px !important;" />
						<p:menu overlay="true" trigger="todoMenu" my="left top"	at="left bottom">
							<p:menuitem value="Nova transação +" icon="ui-icon-disk fa fa-square-o" outcome="/transacao/cadastroTransacaoEmLote"/>
							<p:menuitem value="Nova transação em lote" icon="ui-icon-disk fa fa-square-o" outcome="/transacao/cadastroTransacao"/>
						</p:menu>
					</h2>
					<div class="SeparatorFull"></div> 

				
					<div class="EmptyBox10" /> 
					
						
					<div class="ui-g ui-fluid">
					    <div class="ui-g-12 ui-md-6 ui-lg-4">
					    	<p:inputText placeholder="Pesquisa em todos os campos"/>
					    </div>
					    <div class="ui-g-12 ui-md-6 ui-lg-2"> 
					    	 <p:selectOneMenu id="menu1" label="Categorias" filter="true" filterMatchMode="startsWith"> 
					           	<f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems value="#{pesquisaTransacao.categoriasVo}" var="_cate" itemLabel="#{_cate.nome}" /> 
					         </p:selectOneMenu> 
					    </div> 
					    <div class="ui-g-3 ui-md-3 ui-lg-2">
					    	 <p:selectOneMenu id="menu2" label="Categorias" filter="true" filterMatchMode="startsWith"> 
					            <f:selectItem itemLabel="Selecione" itemValue="" />
					            <f:selectItems value="#{pesquisaTransacao.categoriasVo}" var="_cate" itemLabel="#{_cate.nome}" /> 
					         </p:selectOneMenu> 
					    </div>
					    <div class="ui-g-12 ui-md-6 ui-lg-2">
					    	<p:calendar placeholder="Data Inicial" navigator="true" showOn="button" pattern="dd-MMM-yyyy"/>
					    </div>
					    <div class="ui-g-12 ui-md-6 ui-lg-2">
					    	<p:calendar placeholder="Data Final" navigator="true" showOn="button" pattern="dd-MMM-yyyy"/>
					    </div>
					</div>
						
					
					<div class="EmptyBox10" /> 
					
					<p:dataTable id="table"
							 styleClass="tableGlobalFilter"	 
							 rows="15" 
							 paginator="true"
							 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							 currentPageReportTemplate=" Página {currentPage} de {totalPages}"
							 paginatorPosition="bottom" 
							 rowsPerPageTemplate="5,10,15"
							 widgetVar="transacaoTable"
							 filteredValue="#{pesquisaTransacao.lazyDataModel}"
							 emptyMessage="Nenhuma transação encontrada."
						 	 value="#{pesquisaTransacao.lazyDataModel}"
						 	 lazy="true" 
						 	 var="_at">
	
					<p:column headerText="Descrição" styleClass="Wid40" sortable="true" sortBy="#{_at.descricao}" sortFunction="single">
						<p:outputLabel value="#{_at.descricao}" />
					</p:column>
					
					<p:column headerText="Data" styleClass="Wid10">
						<p:outputLabel value="#{_at.dataTransacaoFormatada}"/>
					</p:column>
					
					<p:column headerText="Tipo" styleClass="TexAlCenter Wid10">
						<p:outputLabel value="#{_at.tipo.descricao}"/>
					</p:column>
					
					<p:column headerText="Valor" styleClass="Wid10">
						<p:outputLabel value="R$ #{_at.valor}"/>
					</p:column>
					
					<p:column headerText="Categorias" styleClass="Wid20">
						<p:outputLabel value="#{_at.categoria.nome}"/>
					</p:column>
					
					<p:column styleClass="TexAlCenter Wid10">
	                                    	
			            <p:tooltip id="toolTipFade1" for="ibtnEditar" value="Editar" position="top"/>
			            <p:commandLink style="padding:5px" id="ibtnEditar" update="@all" process="@this" action="#{pesquisaTransacao.editar()}">  
							<i class="fa fa-pencil-square-o Fs18"></i>  
							<f:setPropertyActionListener value="#{_at}" target="#{pesquisaTransacao.objSelected}" />
			            </p:commandLink> 
		                                   	
		                <p:tooltip id="toolTipFade2" for="ibtnExcluir" value="Excluir" position="top"/>
		                <p:commandLink style="padding:5px" id="ibtnExcluir" action="#{pesquisaTransacao.canRemove()}" process="@this" update="@form">
							<i class="fa fa-trash-o Fs18"></i>     
							<f:setPropertyActionListener value="#{_at}" target="#{pesquisaTransacao.objSelected}" />
		                </p:commandLink> 
					    
	                </p:column> 
	
				</p:dataTable>  
				
				<div class="EmptyBox10" /> 
		
			<tce:confirmDialog objToRemove="transacao" nome="#{pesquisaTransacao.objSelected.descricao}" bean="#{pesquisaTransacao}"/>
		
		</h:form>
		</div>
		</div>
		</div>
	</ui:define>

</ui:composition>