/* original */
@font-face {
	font-family: 'roboto_condensedbold';
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.eot']}");
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.svg']}#roboto_condensedbold")
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_condensedlight';
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.eot']}");
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.svg']}#roboto_condensedlight")
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_condensedregular';
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.eot']}");
	src:
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.eot']}#iefix")
		format('embedded-opentype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.woff2']}")
		format('woff2'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.woff']}")
		format('woff'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.ttf']}")
		format('truetype'),
		url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.svg']}#roboto_condensedregular")
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.FontRobotoBold {
	font-family: 'roboto_condensedbold';
}

.FontRobotoRegular {
	font-family: 'roboto_condensedregular';
}

.FontRobotoLight {
	font-family: 'roboto_condensedlight';
}
/*BODY*/
html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

.loginbodyblue {
	background-image:
		url("#{resource['rio-layout:images/blue-background.svg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #0288d1;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #0288d1;
}

.loginbodyorange {
	background-image:url("#{resource['rio-layout:images/orange-background.svg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #fb8c00;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #fb8c00;
}

.loginbodyred {
	background-image:url("#{resource['rio-layout:images/red-background.svg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #e53935;
}
/* topbar */
#layout-topbar {
	width: 100%;
	height: 64px;
	position: fixed;
	z-index: 1000;
	background-color: #03a9f4;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

#logo {
	width: 230px;
	height: 64px;
	background-color: #0288d1;
	border-right: solid 1px #0277bd;
	display: block;
}

#logo img {
	height: 30px;
	max-width: 123px;
	margin-top: 18px;
	margin-left: 8%;
}

#mobile-menu-button {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 28px;
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
	width: 47px;
	height: 37px;
	cursor: pointer;
	background-color: #039be5;
	position: relative;
	margin: 8px -24px auto auto;
	color: #ffffff;
	overflow: hidden;
}

#mobile-menu-button:hover, #mobile-menu-button:focus {
	background-color: #0288d1;
}

#mobile-menu-button.MenuClose {
	margin-top: 39px !important;
	background-color: #ef5350 !important;
	color: #ffffff;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* top menu */
#top-menu {
	padding: 0px;
	float: right;
	width: 150px;
	position: absolute;
	display: none;
	opacity: 0;
	right: 2%;
	margin: 40px 0px 0px 0px;
	background-color: #ffffff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#top-menu.showmenu {
	margin-top: 60px;
	opacity: 1;
	display: block;
}

#top-menu li {
	float: left;
	margin-left: 4px;
	width: 150px;
    padding: 0px;
    margin: 0px;
}

#top-menu > li > a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding-top: 10px;
	cursor: pointer;
	overflow: hidden;
	font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#top-menu>li>a:hover, #top-menu li a:focus {
	/* background-color: #039be5; */
	background-color: #e0e0e0;
}

 #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }

#top-menu>li>a .Txt {
	display: inline-block;
    float: left;
	font-family: 'roboto_condensedregular';
}

#top-menu li ul {
	width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
}

#top-menu li ul.active-menu {
	width: auto;
    height: auto;
    background-color: #f5f5f5; 
}

#top-menu li ul li {
	padding-top: 13px;
	float: left;
    padding: 0px;
    margin: 0px;
}

#top-menu li ul li input[type="text"] {
	background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
}

#top-menu li ul li input[type="text"]::-webkit-input-placeholder {
	color: #e1f5fe;
}

#top-menu li ul li input[type="text"]:-moz-placeholder {
	color: #e1f5fe;
	opacity: 1;
}

#top-menu li ul li input[type="text"]::-moz-placeholder {
	color: #e1f5fe;
	opacity: 1;
}

#top-menu li ul li input[type="text"]:-ms-input-placeholder {
	color: #e1f5fe;
}

#top-menu li ul li a {
	color: #e1f5fe;
	padding: 0px 5px;
	display: block;
	border-bottom: solid 1px #e1f5fe;
	font-size: 16px;
	font-family: 'roboto_condensedregular';
}

#show-top-menu {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 28px;
	border-radius: 50%;
	text-align: center;
	/*  padding-top: 10px;
  width: 47px;
  height: 37px;  */
	cursor: pointer;
	position: relative;
	margin: 8px 2% auto auto;
	color: #e1f5fe;
	overflow: hidden;
}

#show-top-menu:hover {
	background-color: #039be5;
}

#show-top-menu.MenuClose {
	background-color: #039be5;
}
/* wrapper */
#wrapper {
	display: inline;
	width: 100%;
	height: 100%;
}

#wrapperIndent {
	display: inline;
	height: 100%;
}
/*Layout Menu Cover */
#layout-menu-cover {
	width: 230px;
	display: block;
	height: 100%;
	vertical-align: top;
	position: fixed;
	overflow: hidden;
	background-color: #fff;
	border-right: solid 1px #e0e0e0;
	z-index: 999;
}
/*Layout Menu */
.layout-menu {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	margin-top: 70px;
}

.layout-menu.rio-menu {
	margin-top: 0px;
}

.layout-menu li {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.layout-menu li a {
	color: #455a64;
	cursor: pointer;
}

.layout-menu ul {
	padding: 0px;
	overflow: hidden;
	height: 0px;
	opacity: 0;
	-webkit-transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	transition: all 1.2s ease;
}

#layout-menu-cover ul.active-menu {
	height: auto;
	opacity: 1;
	background-color: #f5f5f5;
}

#layout-menu-cover:hover .layout-menu>li>a.active-menu, .layout-menu>li>a.active-menu
	{
	background-color: #e0e0e0;
}

.layout-menu .active-menu-restore {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.layout-menu>li {
	width: auto;
	height: auto;
	font-size: 18px;
}

.layout-menu>li>a {
	width: 84%;
	padding: 12px 8%;
	display: block;
	font-family: 'roboto_condensedregular';
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.layout-menu>li>a:hover, .layout-menu>li>a:active, .layout-menu>li>a:focus
	{
	background-color: #e0e0e0;
}

.layout-menu>li>a>i {
	display: block;
	font-size: 23px;
	float: left;
	margin-right: 4px;
	line-height: 0.7;
}

.layout-menu li ul li {
	font-family: 'roboto_condensedregular';
	font-size: 15px;
}

.layout-menu>li ul li a:focus {
	color: #03a9f4;
}

.layout-menu li ul li a {
	width: 80%;
	padding: 9px 10%;
	display: block;
	text-align: left;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.layout-menu li ul li a:hover {
	background-color: #e0e0e0;
}

.layout-menu li ul li a>i {
	margin-right: 4px;
	font-size: 14px;
}
/* menu levels */
.menu-level-1 {
	text-indent: 8px;
}

.menu-level-2 {
	text-indent: 16px;
}

.menu-level-3 {
	text-indent: 24px;
}

.layout-menu>li>a.menulink>i.icon-ellipsis1 {
	display: none;
}
/*Layout Portlets Cover*/
#layout-portlets-cover {
	display: block;
	vertical-align: top;
	padding: 70px 10px 30px 0.1%;
	margin-left: 0px;
}

.Card {
	padding: 10px;
	display: block;
	background-color: #ffffff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-family: 'roboto_condensedregular';
	color: #546e7a;
}

.CardTopic {
	font-size: 15px;
	margin: 0px;
	padding: 10px 0px;
	width: 100%;
	display: block;
	color: #546e7a;
}

.CardFooter {
	border-top: solid 1px #e0e0e0;
	margin: 10px -10px -12px;
	padding: 10px;
	overflow: hidden;
	display: block;
}

.CardFooterBtn {
	padding: 10px;
	margin: -10px 0px;
	display: inline-block;
	font-size: 24px;
}

.CardFooterBtn:hover {
	background-color: #f5f5f5;
}
/* LAYOUT STANDART STYLES -----------------------------------------------------------------*/
a {
	text-decoration: none;
	outline: none;
}

img {
	outline: none;
}

li {
	list-style: none;
}

i {
	line-height: 0.7 !important;
}
/* seperator line */
.Separator {
	border-bottom: solid 1px #e0e0e0;
	width: 100%;
	overflow: hidden;
	height: 0px;
	margin: 10px 0px;
	clear: both;
}

.SeparatorFull {
	border-bottom: solid 1px #e0e0e0;
	display: block;
	overflow: hidden;
	height: 0px;
	margin: 10px -10px;
	clear: both;
}
/* hover effect for boxlink and links */
.HoverEffect {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.HoverEffect:hover {
	opacity: 0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* shadow */
.ShadowEffect {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
	-moz-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
	box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
}

@media screen and (min-width: 0\0) {
	.ShadowEffect {
		box-shadow: 0px 0px 8px 0px rgba(43, 59, 93, 0.4);
	}
}

.BigTopic {
	padding-bottom: 20px;
	font-size: 24px;
}

.changecolor:hover {
	background-color: #FBB040;
	padding: 10px;
}

/* original end */
.ui-breadcrumb {
	border-top: 1px solid #e0e0e0 !important;
	border-right: 1px solid #e0e0e0 !important;
	border-left: 1px solid #e0e0e0 !important;
}

.ui-fluid .ui-button {
	/* width: initial; */
	
}

.PanelButton {
	white-space: nowrap;
	position: relative;
}

.ui-tabs-top .ui-tabs-nav {
	background-color: #0288d1;
	border-bottom: solid 2px #0288d1;
}

.ui-treetable table thead tr th {
	color: #fbfcfd;
	background-color: #0288d1;
	border: solid 1px #6988b6;
	padding: 10px 5px !important;
}

.CartText {
	font-size: 12px;
	color: #ffffff;
	font-family: 'robotoregular';
	background-color: #e53935;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	padding: 2px 4px 3px;
	position: absolute;
	margin-left: -10px;
	margin-top: -5px;
}

.animated {
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	display: inline-block !important;
	animation-duration: 1s;
	transform-origin: top center;
	animation-name: swing;
}

.btnOnlyIconNoRadio {
	padding: 2px;
	border-radius: 0px !important; */
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	margin-left: -1px;
}

/* input:focus:-moz-placeholder {
	font-size: 0.8rem;
	transform: translateY(-100%);
} 


input:focus::-webkit-input-placeholder {  
	font-size: 0.8rem;
	transform: translateY(-100%);
} */
.ui-steps .ui-steps-item {
	width: 19%;
}

.ui-steps {
	min-height: 50px;
	margin-top: 20px;
}

.ui-state-highlight {
	text-shadow: none !important;
}

.ui-steps.custom {
	margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 10px;
	padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
	background-color: #0081c2 !important;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-list-wrapper {
	width: 45%;
}

.tipoDadoInput .ui-inputfield {
	width: 100% !important;
}

.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-inputfield {
	width: 100% !important;
}

.ui-panel .ui-panel-content.ui-widget-content {
	padding: 0px !important;
}

.ui-inputfield .ui-widget .ui-state-default .ui-corner-all .hasDatepicker
	{
	width: 80% !important;
}

.facebook_button {
	display: inline-block;
	background: #627aac
		url("#{resource['rio-layout:images/facebook_small.png']}") left
		no-repeat;
	border-top: 1px solid #29447e;
	border-right: 1px solid #29447e;
	border-bottom: 1px solid #1a356e;
	border-left: none;
	height: 22px;
	padding-right: 7px;
	padding-left: 29px;
	font-weight: bold;
	font-size: 11px;
	color: white;
	text-decoration: none;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	line-height: 22px;
	cursor: pointer;
}

.ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger, .ui-fluid .ui-selectcheckboxmenu-trigger
	{
	width: 38px !important;
	height: 37px !important;
}

.ui-accordion-header {
	background-color: #0277bd !important;
}

.ui-accordion .ui-tabs-outline {
	background-color: #629fc3 !important;
}

.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active
	{
	background-color: #0277bd !important;
}

<!-- Table -->

.ui-paginator .ui-paginator-current {
	padding: 10px !important;
}

.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-pages .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-rpp-options {
	padding: 3px 3px !important;
}

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
	padding: 5px !important;
}

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
	font-size: 14px !important;
}

.ui-outputlabel {
	font-size: 14px !important;
}

.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow {
	font-size: 14px !important;
}

.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow{
	font-size: 18px !important;
    padding: 10px 0px !important;
}

.ui-datatable-header {
	text-align: left !important;
	color: #546e7a !important;
	background-color: #fff !important;
}

.ui-panel .ui-panel-titlebar {
	padding: 10px 10px !important;
	background-color: #0288d1; 
}

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th{
	padding: 5px !important;
}
 
/* inputs David */

/* .ui-inputfield {
	border: solid 1px #c6d6df;	
} */

/* .ui-inputfield.ui-state-hover {
	border: solid 1px #c6d6df;	
}  */

/* .ui-inputfield.ui-state-focus { 
	border: solid 1px #c6d6df;	
} */

.ui-treetable table thead tr th {
	font-size: 14px !important;
}

.ui-treetable table tbody tr td {
	font-size: 14px !important;
}

.ui-outputlabel {
	font-size: 13px !important;
}

.ui-inputfield {
	font-size: 14px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
	font-size: 12px !important;
}

.ui-button {
	font-size: 12px !important;
}

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
	 margin-top: -5px !important;
} 

.TransactionButton>.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa, .ui-button-text-icon-right .ui-icon.fa {
	 margin-top: -7px;
	 margin-left: 9px;   
}  
  
.ui-button-icon-left {
	left: .1em !important;
} 

.ui-button-text-icon-left .ui-button-text {
	padding: 10px 10px 10px 30px !important;
}

.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow {
	font-size: 14px !important;
} 

/* .ui-inputfield.ui-state-focus {
	border: solid 1px #03a9f4 !important
} */

/* .ui-messages-fatal, .ui-message-fatal {
	font-size: 14px !important;
	padding: 5px !important;
} */

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
	 margin-left: 0px;
}

.ui-messages .ui-messages-close {
	margin-top: 5px !important; 
}

.ui-messages-error-icon {
	width: 30px !important;
	height: 30px !important;
}

.ui-messages ul {
	margin-top: 3px !important;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-message-error-icon, .ui-messages-fatal-icon {
	margin: 0px !important; 
}

.GrayDarkButton {
	background-color: #455A64;
}

/* .GrayDarkButton.ui-state-hover, .GrayButton.ui-state-focus {
	background-color: #456B7D !important;
} */

.DarkBlue {
	background-color: #29506b;
}
 
/* .DarkBlue.ui-state-hover, .GrayButton.ui-state-focus {
	background-color: #176ba0 !important;
} */

.BluerButton {
	background-color: #0277BD;
}

/* .BluerButton.ui-state-hover, .GrayButton.ui-state-focus {
	background-color: #0591E4 !important;
} */

#show-top-menu img { 
	border-radius: 50%;
	height: 50px;
}

.profileInfo{
	margin-top: 20px;
    margin-right: 10px;
    color: #e1f5fe;
}

/** data pick */
.ui-datepicker-header {
	font-size: 14px !important;
}

.ui-datepicker table {
	font-size: .8em !important;
}

.ui-button-icon-only .ui-icon {
	margin-left: 8px !important;
}

.ui-accordion-header {
	font-size: 14px !important;
}

.ui-selectonemenu-filter-container{
	width: 90% !important; 
}

.ui-fieldset-legend{
	font-size: 14px !important;
	line-height: 14px !important;
	padding: 12px 15px !important; 
}