/*
* RIO LAYOUT & THEME
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2014 - PrimeFaces Theme Market - PrimeTek */
/* FONT-FACE*/




/* MEDIA QUERIES **************************************************************************************************************** */
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 64px;
  }
  #logo {
    width: 230px;
    height: 64px;
  }
  #logo img {
    height: 30px;
    max-width: 123px;
    margin-top: 18px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 28px;
    padding-top: 10px;
    width: 47px;
    height: 37px;
    margin: 8px -24px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 39px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 60px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;  
  }
  #show-top-menu {
    font-size: 28px;
   /*  padding-top: 10px;
    width: 47px;
    height: 37px; */
    position: relative;
    margin: 8px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 75px 1% 30px;
    margin-left: 0px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 50px;
  }
  #logo {
    width: 230px;
    height: 50px;
  }
  #logo img {
    height: 24px;
    max-width: 123px;
    margin-top: 14px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    margin: 7px -19px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 31px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 47px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;
  }
  #show-top-menu {
    font-size: 22px;
  /*   padding-top: 8px; */
    /* width: 37px;
    height: 29px; */
    position: relative;
    margin: 7px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  .layout-menu {
    margin-top: 57px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 55px 1% 20px;
    margin-left: 0px;
  }
}
/* Portrait phones and down */
@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 50px;
  }
  #logo {
    width: 230px;
    height: 50px;
  }
  #logo img {
    height: 24px;
    max-width: 123px;
    margin-top: 14px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    margin: 7px -19px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 31px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 47px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;
  }
  #show-top-menu {
    font-size: 22px;
   /*  padding-top: 8px;
    width: 37px;
    height: 29px; */
    position: relative;
    margin: 7px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  .layout-menu {
    margin-top: 57px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 55px 1% 20px;
    margin-left: 0px;
  }
}
#FAW .Container33 {
  padding: 10px 0px;
}
#layout-portlets-cover:before,
#layout-portlets-cover:after,
.Card:before,
.Card:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#layout-portlets-cover:after,
.Card:after {
  clear: both;
}
/* colors */
/* fonts */
/* misc */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* predefined colors */
.White {
  color: #ffffff;
}
.WhiteBlue {
  color: #E1F5FE;
}
.SoftBlue {
  color: #03A9F4;
}
.Blue {
  color: #0288D1;
}
.Turquoise {
  color: #26C6DA;
}
.SoftGray {
  color: #ECEFF1;
}
.Gray {
  color: #90A4AE;
}
.BoldGray {
  color: #546E7A;
}
.SoftOrange {
  color: #FFCC80;
}
.Orange {
  color: #FB8C00;
}
.SoftGreen {
  color: #A5D6A7;
}
.Green {
  color: #43A047;
}
.LeadenGreen {
  color: #26A69A;
}
.SoftRed {
  color: #EF9A9A;
}
.Red {
  color: #E53935;
}
.Pink {
  color: #FF4081;
}
.SoftPurple {
  color: #CE93D8;
}
.Purple {
  color: #8E24AA;
}
.Yellow {
  color: #F7D100;
}
/* predefined background colors */
.WhiteBlueBack {
  background-color: #E1F5FE;
}
.SoftBlueBack {
  background-color: #03A9F4;
}
.BlueBack {
  background-color: #0288D1;
}
.TurquoiseBack {
  background-color: #26C6DA;
}
.SoftGrayBack {
  background-color: #ECEFF1;
}
.GrayBack {
  background-color: #90A4AE;
}
.BoldGrayBack {
  background-color: #546E7A;
}
.SoftOrangeBack {
  background-color: #FFCC80;
}
.OrangeBack {
  background-color: #FB8C00;
}
.SoftGreenBack {
  background-color: #A5D6A7;
}
.GreenBack {
  background-color: #43A047;
}
.LeadenGreenBack {
  background-color: #26A69A;
}
.SoftRedBack {
  background-color: #EF9A9A;
}
.RedBack {
  background-color: #E53935;
}
.PinkBack {
  background-color: #FF4081;
}
.SoftPurpleBack {
  background-color: #CE93D8;
}
.PurpleBack {
  background-color: #8E24AA;
}
.YellowBack {
  background-color: #F7D100;
}
/* predefined borders */
.BorderTop {
  border-top: solid 1px #E0E0E0;
}
.BorderRight {
  border-right: solid 1px #E0E0E0;
}
.BorderBottom {
  border-bottom: solid 1px #E0E0E0;
}
.BorderLeft {
  border-left: solid 1px #E0E0E0;
}
.BorderAll {
  border: solid 1px #E0E0E0;
}

