<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<!-- INTERFACE -->
<composite:interface name="confirmDialog">
	<composite:attribute name="objToRemove" required="true"	type="java.lang.String" />
	<composite:attribute name="nome" required="true" type="java.lang.String" />
	<composite:attribute name="bean" required="true" type="br.gov.mt.tce.core.controller.AbstractFilterBean" />
	<composite:attribute name="tableUpdate" default="table" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>

	<p:confirmDialog id="iconfirmDlg" header="Confirmação" severity="alert"	showEffect="fade" hideEffect="fade" widgetVar="removeConfirm">
		<f:facet name="message">
			<h:outputText value="Tem certeza que deseja remover #{cc.attrs.objToRemove}  #{cc.attrs.nome}?" />
		</f:facet>
		<p:commandButton value="Sim" action="#{cc.attrs.bean.excluir()}" process="@this" update="@this table" oncomplete="PF('removeConfirm').hide();"	styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		<p:commandButton value="Não" type="button"	styleClass="ui-confirmdialog-no" icon="ui-icon-close"	onclick="PF('removeConfirm').hide();" />
	</p:confirmDialog>

</composite:implementation>



</html>
