<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	 <!-- INTERFACE -->
    <composite:interface name="dynamicPanelFilter">
    	<composite:attribute name="forId" required="true" type="java.lang.String" />
    	<composite:attribute name="bean" required="true" type="br.gov.mt.tce.core.controller.AbstractFilterBean" />
    	<composite:attribute name="tableUpdate" default="table" />
    </composite:interface>
	
	 <!-- IMPLEMENTATION -->
    <composite:implementation>
    	
    	<h:outputText value="Pesquisar em todos os campos: " />
		<p:inputText id="globalFilterText" 
					style="width:200px" styleClass="campoTexto"
					placeholder="Entre com a palavra-chave">  
		</p:inputText>
		
		<p:tooltip id="itooltipbtnfiltrar"  for="btnfiltro" value="Filtrar em todos os campos" position="top"/> 
		<p:commandButton type="button" id="btnfiltro" value="Filtrar" icon="fa fa-search Fs18" style="padding:2px; margin-left:5px;" styleClass="globalFilterText"/>   
		
		<p:tooltip id="toolTipFadefiltro"  for="#{cc.attrs.forId}" value="Filtro Avançado" position="top"/> 		
		<p:commandButton id="#{cc.attrs.forId}" styleClass="GrayButton" style="padding:2px; margin-left:1em;" value="Filtro Avançado" icon="fa fa-search Fs18"/>  
    	
    	<p:overlayPanel for="#{cc.attrs.forId}" dismissable="false" dynamic="true" showEffect="drop" hideEffect="drop" my="right top" at="right bottom" style="width: 350px" id="overlayPanel">
    		
    		<h2 class="Fs18 CardTopic Blue"><i class="fa fa-filter MarRight10" />Filtro</h2>      
			<div class="SeparatorFull" />   
			
			<h:form id="ifrmOverlayPanelFilter" prependId="false">    
			
				<p:selectOneMenu id="icolumn" style="width: 86% !important;" styleClass="MarBot5" value="#{cc.attrs.bean.consultaSelecionada.campo}" converter="fieldConverter" required="true" requiredMessage="O campo é obrigatório.">
					<f:selectItem itemLabel="Selecione um campo" itemValue="#{null}" noSelectionOption="true"/> 
					<f:selectItems value="#{cc.attrs.bean.camposEntidadeAndOperadores.keySet().toArray()}" var="_campo" itemLabel="#{_campo.name}" itemValue="#{_campo}"/>
					<p:ajax event="change" update="@form" process="@this"/>			
				</p:selectOneMenu>  
				
				<p:selectOneMenu id="ioperator" style="width: 86% !important;" value="#{cc.attrs.bean.consultaSelecionada.operador}" 
				                converter="enumConverter" required="true" requiredMessage="O campo operador é obrigatório"
				                rendered="#{not empty cc.attrs.bean.camposEntidadeAndOperadores[cc.attrs.bean.consultaSelecionada.campo].operador and  empty cc.attrs.bean.camposEntidadeAndOperadores[cc.attrs.bean.consultaSelecionada.campo].valorEnum}"
				                > 
					<f:selectItem itemLabel="Selecione um operador" itemValue="#{null}" noSelectionOption="true" />  
					<f:selectItems value="#{cc.attrs.bean.camposEntidadeAndOperadores[cc.attrs.bean.consultaSelecionada.campo].operador}" var="_operador" itemLabel="#{_operador.label}" itemValue="#{_operador}"/>	
					<p:ajax event="change" process="@this" update="@form" />      
				</p:selectOneMenu>  
				
				<p:selectOneMenu id="ioperatorEnum" style="width: 86% !important;" value="#{cc.attrs.bean.consultaSelecionada.valor}" converter="enumConverter" 
				                 rendered="#{not empty cc.attrs.bean.camposEntidadeAndOperadores[cc.attrs.bean.consultaSelecionada.campo].valorEnum}" >
				                 
					<f:selectItem itemLabel="Selecione um operador" itemValue="#{null}" noSelectionOption="true" />  
					<f:selectItems value="#{cc.attrs.bean.camposEntidadeAndOperadores[cc.attrs.bean.consultaSelecionada.campo].valorEnum}" var="_enumValue" itemLabel="#{_enumValue.name()}" itemValue="#{_enumValue}"/>	
					<p:ajax event="change" process="@this" update="@form" />     
				</p:selectOneMenu> 
				
				<p:selectOneMenu id="iObjectSelect" style="width: 86% !important;" value="#{cc.attrs.bean.consultaSelecionada.valor}"
				                 rendered="#{not empty cc.attrs.bean.acaoConsultaObjetos[cc.attrs.bean.consultaSelecionada.campo.name]}" >
				                 
					<f:selectItem itemLabel="Selecione" itemValue="#{null}" noSelectionOption="true" />  
					<f:selectItems value="#{cc.attrs.bean.acaoConsultaObjetos[cc.attrs.bean.consultaSelecionada.campo.name]}" var="_object" itemLabel="#{_object.label}" itemValue="#{_object.value}"/>	
					<p:ajax event="change" process="@this" update="@form" />     
				</p:selectOneMenu> 
				
				<p:separator/>
				
				<h:panelGroup styleClass="ui-fluid" rendered="#{not empty cc.attrs.bean.consultaSelecionada.operador}">

					<h:panelGroup rendered="#{cc.attrs.bean.consultaSelecionada.operadorString}">
						
						<p:inputText id="inputString" placeholder="Informe o texto desejado" value="#{cc.attrs.bean.consultaSelecionada.valor}" required="true" requiredMessage="O campo é obrigatório."/> 

					</h:panelGroup>
					
					<h:panelGroup rendered="#{cc.attrs.bean.consultaSelecionada.operadorNumerico}" >
						
						<p:inputNumber id="inputNumber" placeholder="Informe o valor" value="#{cc.attrs.bean.consultaSelecionada.valor}" required="true" requiredMessage="O campo é obrigatório."/>

					</h:panelGroup>
					
					<h:panelGroup rendered="#{cc.attrs.bean.consultaSelecionada.operadorDate}" >
						
						<h:panelGroup rendered="#{not cc.attrs.bean.consultaSelecionada.operadorDatePorPeriodo}">
							<p:calendar id="inputDate" value="#{cc.attrs.bean.consultaSelecionada.valor}" required="true" pattern="dd/MM/yyyy" locale="pt_BR" placeholder="Informe a data" requiredMessage="O campo é obrigatório.">
								<f:convertDateTime pattern="dd/MM/yyyy" />   
							</p:calendar> 
						</h:panelGroup>
						
						<div class="ui-g">
							
							<h:panelGroup rendered="#{cc.attrs.bean.consultaSelecionada.operadorDatePorPeriodo}">
								<div class="ui-g-1">
									<p:outputLabel value="De" style="vertical-align:sub;"/>
								</div>
								<div class="ui-g-5">
									<p:calendar id="inputDateInicial" value="#{cc.attrs.bean.consultaSelecionada.periodo.dataInicial}" required="true" requiredMessage="O campo é obrigatório." pattern="dd/MM/yyyy" locale="pt_BR" placeholder="Data inicial">
										<f:convertDateTime pattern="dd/MM/yyyy" />   
									</p:calendar> 
								</div>
								<div class="ui-g-1">
									<p:outputLabel value="Até" style="vertical-align:sub;"/>  
								</div>
								<div class="ui-g-5">
									<p:calendar id="inputDateFinal" value="#{cc.attrs.bean.consultaSelecionada.periodo.dataFinal}" required="true" pattern="dd/MM/yyyy" requiredMessage="O campo é obrigatório." locale="pt_BR" placeholder="Data final">
										<f:convertDateTime pattern="dd/MM/yyyy" />   
									</p:calendar> 
								</div>
							</h:panelGroup>
						</div>

					</h:panelGroup>
					
				</h:panelGroup>
				
				<p:separator rendered="#{not empty cc.attrs.bean.consultaSelecionada.operador}"/>   
				
				<p:commandButton value="Adicionar Filtro" action="#{cc.attrs.bean.adicionaFiltro()}" process="@this @form" update="@form" icon="fa fa-plus" styleClass="Wid100 GreenButton MarBot5" />
				
				<p:dataScroller id="ifilters" value="#{cc.attrs.bean.filtroGenerico}" var="consulta" mode="inline" scrollHeight="125" styleClass="Wid100 Fs14"> 

					<div class="ui-g">       

						<p:selectBooleanCheckbox value="#{consulta.selected}" title="Selecionar filtro" styleClass="ui-g-2"/>

						<h:outputText value="#{consulta.campo.name}" styleClass="FontBold ui-g-3"/>  
						<h:outputText value="#{consulta.operador.label}" styleClass="ui-g-3"/>
						
						<h:panelGroup rendered="#{not consulta.operadorDatePorPeriodo and not consulta.isDate(consulta.valor)}">
							<h:outputText value="#{consulta.valor}" styleClass="FontBold ui-g-3"/>      
						</h:panelGroup>  
						
						<h:panelGroup rendered="#{not consulta.operadorDatePorPeriodo and consulta.isDate(consulta.valor)}">
							<h:outputText value="#{consulta.valor}" styleClass="FontBold ui-g-3">
							  <f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>      
						</h:panelGroup>  
						
						<h:panelGrid columns="1" rendered="#{consulta.operadorDatePorPeriodo}" styleClass="Fs12 ui-g-3 FontBold">
							<h:outputText value="#{consulta.periodo.dataInicialString}"/> 
							<h:outputText value="#{consulta.periodo.dataFinalString}"/>          
						</h:panelGrid>     
						
						<div class="ui-g-1 TexAlCenter"> 
							<p:commandLink partialSubmit="true" process="@this ifilters" title="Remover filtro" update="@parent:@parent #{cc.attrs.tableUpdate}" immediate="true" action="#{cc.attrs.bean.removeFiltro(consulta)}">  
								<i class="fa fa-trash-o Fs18 Red" />         
							</p:commandLink>
						</div>

					</div>

				</p:dataScroller> 
				 
				<p:commandButton id="btnFilterClear" value="Limpar Filtros"  
					partialSubmit="true"
					action="#{cc.attrs.bean.limpaFiltro}"
					disabled="#{empty cc.attrs.bean.filtroGenerico}"   
					update="@form #{cc.attrs.tableUpdate}"        
					immediate="true" 
					process="@this"   
					icon="fa fa-recycle" styleClass="Wid100 RedButton" /> 
			

				<p:commandButton id="btnFilter" value="Filtrar"  
					partialSubmit="true"
					action="#{cc.attrs.bean.pesquisar}" 
					update="#{cc.attrs.tableUpdate}"   
					disabled="#{empty cc.attrs.bean.filtroGenerico}" 
					process="@this"  
					icon="fa fa-search" styleClass="Wid100" />
			 
			</h:form> 
    	</p:overlayPanel>
    	<script>
		        $(document).on("click", ".globalFilterText", function (event) {
		            var searchValue = $('.campoTexto').val();
		            console.log(searchValue);
		            $("#table\\:globalFilter").val(searchValue);
		            
		            $("#table\\:globalFilter").trigger('keyup');
		        });
    	</script>
    </composite:implementation>
</html>