<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

<!-- INTERFACE -->
<composite:interface name="tipoDado">
	<composite:attribute name="tipoDado" required="true" type="br.gov.mt.tce.model.enuns.TipoDado" />
	<composite:attribute name="value" required="true" type="java.lang.String" />
	<composite:attribute name="id" required="true" type="java.lang.String" />
	<composite:attribute name="required" default="true" required="true" type="boolean" />
	<composite:attribute name="bean" required="true" type="br.gov.mt.tce.core.controller.AbstractFormBean" />
</composite:interface>

<!-- IMPLEMENTATION -->
<composite:implementation>
	
	<p:panelGrid columns="2" rendered="#{cc.attrs.tipoDado.valor eq 2}" columnClasses="ui-grid-col-10,ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;"> 
		<p:inputText id="#{cc.attrs.id}2" value="#{cc.attrs.value}" styleClass="Wid100" required="#{cc.attrs.required}" />
		<p:message for="#{cc.attrs.id}2" display="icon"/>
	</p:panelGrid>
	
	<p:panelGrid columns="2" rendered="#{cc.attrs.tipoDado.valor eq 3}" columnClasses="ui-grid-col-10,ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank Wid100" style="border:0px none;">
		<p:calendar id="#{cc.attrs.id}3" value="#{cc.attrs.value}" required="#{cc.attrs.required}" styleClass="tipoDadoInput">
			<f:convertDateTime pattern="dd/MM/yyyy"/>
		</p:calendar>
		<p:message for="#{cc.attrs.id}3" display="icon"/>
	</p:panelGrid>
	
	<p:panelGrid id="ipanelgridnumber" columns="2" rendered="#{cc.attrs.tipoDado.valor eq 1}" columnClasses="ui-grid-col-10,ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;">
		<p:inputNumber id="#{cc.attrs.id}1" value="#{cc.attrs.value}" required="#{cc.attrs.required}" styleClass="tipoDadoInput"/>
		<p:message for="#{cc.attrs.id}1" display="icon"/>
	</p:panelGrid>
	
	<p:panelGrid columns="2" rendered="#{cc.attrs.tipoDado.valor eq 4}" columnClasses="ui-grid-col-10,ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none;">
		<p:selectOneButton id="#{cc.attrs.id}4" value="#{cc.attrs.value}" required="#{cc.attrs.required}">
	        <f:selectItem itemLabel="TRUE" itemValue="true" />
	        <f:selectItem itemLabel="FALSE" itemValue="false" />  
	    </p:selectOneButton>
	    <p:message for="#{cc.attrs.id}4" display="icon"/>
    </p:panelGrid>

</composite:implementation>

</html>
