<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Cadastro</title>
</h:head>

<h:body>
	<h:form>
		<h:panelGrid columns="2" cellpadding="5" cellspacing="5">
		
			Nome:<h:inputText value="#{usuarioController.usuario.nome}" />
			Senha:<h:inputText value="#{usuarioController.usuario.senha}" />
			E-mail:<h:inputText value="#{usuarioController.usuario.email}" />

		</h:panelGrid>
		
		<h:commandButton action="#{usuarioController.adiciona}" value="Salvar" />

	</h:form>

</h:body>
</html>