<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="titulo">
		Home
	</ui:define>

	<ui:define name="content">

		<div class="Container100">
				<div class="ContainerIndent">
				<div class="Card ShadowEffect">

				<div class="EmptyBox80"></div>

				<h1 class="FontRobotoRegular Fs30 BoldGray TexAlCenter">Funcionalidades</h1>
				<div class="EmptyBox30"></div>

				<div class="Wid90 MarAuto">

					<div class="Container20 Responsive TexAlCenter">
						<div class="ContainerIndent">
							<div class="Container100">
								<i class="icon-work3 SoftBlue Wid100" style="font-size: 4rem;"></i>
								<div class="Wid100 OvHidden" style="height: 2rem;"></div>
								<div class="FontRobotoRegular LeadenGreen"
									style="font-size: 1.6rem;">HTML5 &amp; CSS3</div>
								<div class="Wid100 OvHidden" style="height: 1rem;"></div>
								<div class="FontRobotoLight BoldGray Fs14">Lorem ipsum
									dolor sit ametconsetetur sadipscing elitr, sed diam nonumy
									eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
									sed diam voluptua.</div>
								<div class="Wid100 OvHidden" style="height: 3rem;"></div>
							</div>
						</div>
					</div>

					<div class="Container20 Responsive TexAlCenter">
						<div class="ContainerIndent">
							<div class="Container100">
								<i class="icon-thumb54 SoftBlue Wid100" style="font-size: 4rem;"></i>
								<div class="Wid100 OvHidden" style="height: 2rem;"></div>
								<div class="FontRobotoRegular LeadenGreen"
									style="font-size: 1.6rem;">Cross-Browser</div>
								<div class="Wid100 OvHidden" style="height: 1rem;"></div>
								<div class="FontRobotoLight BoldGray Fs14">Lorem ipsum
									dolor sit ametconsetetur sadipscing elitr, sed diam nonumy
									eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
									sed diam voluptua.</div>
								<div class="Wid100 OvHidden" style="height: 3rem;"></div>
							</div>
						</div>
					</div>

					<div class="Container20 Responsive TexAlCenter">
						<div class="ContainerIndent">
							<div class="Container100">
								<i class="icon-iphone SoftBlue Wid100" style="font-size: 4rem;"></i>
								<div class="Wid100 OvHidden" style="height: 2rem;"></div>
								<div class="FontRobotoRegular LeadenGreen"
									style="font-size: 1.6rem;">Responsive</div>
								<div class="Wid100 OvHidden" style="height: 1rem;"></div>
								<div class="FontRobotoLight BoldGray Fs14">Lorem ipsum
									dolor sit ametconsetetur sadipscing elitr, sed diam nonumy
									eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
									sed diam voluptua.</div>
								<div class="Wid100 OvHidden" style="height: 3rem;"></div>
							</div>
						</div>
					</div>

					<div class="Container20 Responsive TexAlCenter">
						<div class="ContainerIndent">
							<div class="Container100">
								<i class="icon-brochure6 SoftBlue Wid100"
									style="font-size: 4rem;"></i>
								<div class="Wid100 OvHidden" style="height: 2rem;"></div>
								<div class="FontRobotoRegular LeadenGreen"
									style="font-size: 1.6rem;">Handcrafted</div>
								<div class="Wid100 OvHidden" style="height: 1rem;"></div>
								<div class="FontRobotoLight BoldGray Fs14">Lorem ipsum
									dolor sit ametconsetetur sadipscing elitr, sed diam nonumy
									eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
									sed diam voluptua.</div>
								<div class="Wid100 OvHidden" style="height: 3rem;"></div>
							</div>
						</div>
					</div>

					<div class="Container20 Responsive TexAlCenter">
						<div class="ContainerIndent">
							<div class="Container100">
								<i class="icon-browser SoftBlue Wid100" style="font-size: 4rem;"></i>
								<div class="Wid100 OvHidden" style="height: 2rem;"></div>
								<div class="FontRobotoRegular LeadenGreen"
									style="font-size: 1.6rem;">Rock-Solid</div>
								<div class="Wid100 OvHidden" style="height: 1rem;"></div>
								<div class="FontRobotoLight BoldGray Fs14">Lorem ipsum
									dolor sit ametconsetetur sadipscing elitr, sed diam nonumy
									eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
									sed diam voluptua.</div>
								<div class="Wid100 OvHidden" style="height: 3rem;"></div>
							</div>
						</div>
					</div>

				</div>

				<div class="EmptyBox50"></div>

			</div>
			</div>
			</div>

	</ui:define>

</ui:composition>