<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Financeiro</title>
        <ui:insert name="head" />
        
        <style>
	        .loginbodyblue {
	        	background-image:
	        		url("#{resource['rio-layout:images/blue-background.svg']}");
	        	background-size: cover;
	        	background-attachment: fixed;
	        	background-position: center;
	        	background-color: #0288d1;
	        	background-repeat: no-repeat;
	        	height: auto;
	        	border-top: solid 10px #0288d1;
	        }
	        
	        .Card {
				padding: 10px;
				display: block;
				background-color: #ffffff;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				font-family: 'roboto_condensedregular';
				color: #546e7a;
			}
        </style>
        
    </h:head>
    
    <f:metadata>
    	<f:viewParam name="code" value="#{loginBean.code}" />
	</f:metadata>

    <h:body styleClass="loginbodyblue">
        
        <div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
            <div class="Wid40 MarAuto WidAutoOnMobile">
                <div class="EmptyBox30"></div>
                <div class="Card ShadowEffect"> 
                	<h:form id="frmLogin">    
                		<p:focus context="frmLogin"/>
                		<p:growl autoUpdate="true" showDetail="true" life="3800"/>     
	                    <div class="EmptyBox20"></div> 
	                    <div class="Wid100 OvHidden BigTopic Fs30"><i class="icon-users Fs40"></i> Login</div>
	                    <div class="EmptyBox20"></div>
	                    <div class="Wid100"><p:inputText placeholder="E-mail" value="#{loginBean.usuario.email}" required="true" requiredMessage="O e-mail é obrigatório" styleClass="Wid80 TexAlCenter Fs18"/></div>
	                    <div class="EmptyBox10"></div>
	                    <div class="Wid100"><p:inputText type="password" placeholder="Senha" value="#{loginBean.usuario.senha}" required="true" requiredMessage="A senha é obrigatório" styleClass="Wid80 TexAlCenter Fs18"/></div>
	                    <div class="EmptyBox10"></div>
	                    <div class="Separator"></div>
	                    <div class="EmptyBox10"></div>
	                    <div class="Wid100">
	                    	<div class="ui-g ui-fluid">
    							<div class="ui-g-12 ui-md-12 ui-lg-6">
			                    	<p:commandButton value="Entrar" update="frmLogin" icon="fa fa-sign-out" process="@this frmLogin" styleClass="Fs18 White RaisedButton" action="#{loginBean.efetuaLogin()}"/>
    							</div>    						
    							<div class="ui-g-12 ui-md-12 ui-lg-6">
			                    	<p:commandButton value="Entrar com Facebook" icon="fa fa-facebook-square" immediate="true" process="@this" action="#{loginFaceRequest.logarComFacebook()}" styleClass="Fs18 White RaisedButton" />	
    							</div>
    						</div> 
	                    </div>
                    	<div class="EmptyBox20"></div> 
                	</h:form>
                </div>
                <div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular WhiteBlue">
                </div>
            </div>
        </div>
        
        <h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
        <h:outputStylesheet name="css/animate.css" library="rio-layout" />
        <h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
        <h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
        <h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
        
    </h:body>

</html>