<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="titulo">
		Dashboard
	</ui:define>

	<ui:define name="content"> 
	
		<h:form>
			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect HeiAutoOnMobile" style="padding: 5px !important;"> 
						<div class="ui-g ui-fluid">
						    <div class="ui-g-2" style="margin-top: 5px;"> 
							 	<p:outputLabel value="Período" styleClass="FontBold Fs22"/>  
						    </div>
						    <div class="ui-g-3">
							 	<p:calendar value="#{dashBoardBean.dataInicial}" navigator="true" locale="pt_BR" pattern="EEE, dd MMM, yyyy" />
						    </div> 
						    <div class="ui-g-1 TexAlCenter">
						    	<p:outputLabel styleClass="Fs24 FontBold" value=" - "/>
						    </div>
						    <div class="ui-g-3">
							 	<p:calendar value="#{dashBoardBean.dataFinal}" navigator="true" pattern="EEE, dd MMM, yyyy" /> 
						    </div>
						    <div class="ui-g-2">
					    		<p:commandButton value="Consultar" icon="fa fa-search" title="Consultar Dados" action="#{dashBoardBean.criaComponentes()}" update="@all" process="@all" />
						    </div>
						</div>
					</div>
				</div> 
			</div>
		
	
			<div class="Container100">
			
				<div class="Container70 Responsive100">
					<div class="Container100">
						<div class="ContainerIndent">
							<div class="Card ShadowEffect HeiAutoOnMobile"> 
								<p:chart type="pie" model="#{dashBoardBean.gastoMensal}" responsive="true" style="height: 380px;"/>
							</div>
						</div>
						<div class="ContainerIndent"> 
							<div class="Card ShadowEffect HeiAutoOnMobile">
								
								<div class="TexAlCenter MarBot10"> 
									<div class="Fs22">Despesas por Sub Categorias</div>
								</div>
								<p:treeTable id="treetable" rowStyleClass="#{_document.object.categoriaPai == null ? 'SoftGrayBack Animated05 changecolorGreen treeTableSolidBorder' : 'Animated05 changecolorGreen treeTableSolidBorder'}"
											 emptyMessage="Nenhum período informado" style="width: 100%;height: 420px;overflow: auto;display: block;"
											 value="#{dashBoardBean.root}"  
											 var="_document"> 
									
									<p:column headerText="Nome">
							            <h:outputText id="inome" styleClass="#{_document.object.categoriaPai == null ? 'FontBold' : 'FontLight'}" value="#{_document.object.nome}"/>
							        </p:column>
							        
							        <p:column headerText="Valor" priority="2" styleClass="TexAlCenter">
							            <div class="TexAlRight">
								            <h:outputText value="#{_document.tipo}" />
							            </div>
							        </p:column>
							        
							         <p:column headerText="Porcentagem" priority="3" styleClass="TexAlCenter">
							         	<div class="TexAlRight">
							            	<h:outputText value="#{_document.dadosExtra}%" /> 
							            </div>
							        </p:column>
								</p:treeTable>
							</div>
						</div>
						<div class="ContainerIndent">
							<div class="Card ShadowEffect HeiAutoOnMobile"> 
								<p:chart type="line" model="#{dashBoardBean.dateModel}" style="height:350px;" responsive="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="Container30 Responsive100">
					<div class="Container100 Responsive50">
						<div class="ContainerIndent">
							<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
								<div class="Container100 Responsive100 Flex">
				                    <div class="EmptyBox10"></div>
				                    <div class="DispBlock Orange Fs24 FontVoltSemiBold">Total<i class="icon-calculator Fright Fs30"></i> </div>
				                    <div class="DispBlock Leaden Fs30 FontVoltRegular Animated1 changecolor" style="margin-top:-1px;">#{dashBoardBean.totalMensal}</div>
				                    <div class="Separator"></div> 
				                    <div class="EmptyBox10"></div>
				                    
				                    <p:repeat var="_balanco" value="#{dashBoardBean.porcentagem()}">
				                    	<div class="Container100 NoIndent">
				                        	<span class="Leaden Fs14 FontVoltSemiBold DispBlock">#{_balanco.categoria}</span>
				                        	<span class="Orange Fs24 FontVoltRegular DispBlock">R$ #{_balanco.valor} <span class="Fright Blue Fs16">+ #{_balanco.porcentagem}%</span></span>
				                        	<div class="EmptyBox20"></div>
				                    	</div>
				                    </p:repeat>
				                    
					            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>

</ui:composition>